#toc-container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    padding: 20px;
}
  
.toc-title {
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 10px 0px;
    
}

#toc-container li, #toc-container ul{
    list-style: outside none none; 
    margin: 0;
    padding: 0;
}

.toc-list a {
    color: black!important;
}