body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.main-container {
  padding: 0.01em 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

a {color: #7d1919}
a:hover {color: #ac6c6c}

.gray-text {
  color: #757575;
  margin: 10px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {color: #7d1919}
th:hover {color: #ac6c6c}

tr:nth-child(even) {
  background-color: #7d191915;
}